In [21]:
import csv
import os
import re

import pandas as pd


import pandas as pd
import glob ## Patrones de archivos nombres

In [85]:
f3 = open("TriTryDB/TriTrypDB-68_TcruziBerenice_AnnotatedProteins.fasta", "r")
print(f3.readlines(10))
f3.close()

['>KAF5226500.1 | transcript=ECC02_000001_t1 | gene=ECC02_000001 | organism=Trypanosoma_cruzi_Berenice | gene_product=unspecified product | transcript_product=unspecified product | location=JABDHM010000001:109666-111111(+) | protein_length=481 | sequence_SO=supercontig | SO=protein_coding_gene | is_pseudo=false\n']

In [62]:
# Abre el archivo y lee su contenido
with open("TriTryDB/TriTrypDB-68_TcruziBerenice_AnnotatedProteins.fasta", "r") as f3:
    contenido = f3.read()

# Expresión regular para capturar lo que está después de "| gene=" y antes de " |"
patron = r"\| gene=([^|]+) \|"

# Buscar todas las coincidencias en el archivo
genes_encontrados = re.findall(patron, contenido)

# Crear un DataFrame con los resultados
df_genes = pd.DataFrame(genes_encontrados, columns=["Gene_Names_ORF"])

# Guardar en un archivo .tsv
output_file = "TriTryDB/genes_extraidos_TriTrypDB-68_TcruziBerenice_AnnotatedProteins.tsv"
df_genes.to_csv(output_file, sep="\t", index=False)

In [63]:
df_genes

      Gene_Names_ORF
0       ECC02_000001
1       ECC02_000002
2       ECC02_000003
3       ECC02_000004
4       ECC02_000005
...              ...
13302   ECC02_013901
13303   ECC02_013902
13304   ECC02_013903
13305   ECC02_013904
13306   ECC02_013905

[13307 rows x 1 columns]

In [11]:
import re
import pandas as pd
import glob

# Lista de archivos que coinciden con el patrón "TriTrypDB-i_Tcruzi*.fasta"
archivos_fasta = glob.glob("TriTryDB/TriTrypDB-*_Tcruzi*.fasta")

# Lista para almacenar los datos extraídos
genes_lista = []

# Expresión regular para extraer el valor de gene=
patron = r"\| gene=([^|]+) \|"

# Procesar cada archivo
for archivo in archivos_fasta:
    with open(archivo, "r") as f:
        contenido = f.read()
    
    # Buscar todas las coincidencias en el archivo
    genes_encontrados = re.findall(patron, contenido)
    
    # Agregar los genes a la lista
    genes_lista.extend(genes_encontrados)

# Crear un DataFrame y guardar en un .tsv
df_genes = pd.DataFrame({"Gene_Names_ORF": genes_lista})
df_genes.to_csv("TriTryDB/genes_extraidos_TriTrypDB_AnnotatedProteins.tsv", sep="\t", index=False)

In [12]:
df_genes

          Gene_Names_ORF
0        TcCLB.410961.10
1        TcCLB.411427.10
2        TcCLB.411427.30
3        TcCLB.411427.40
4        TcCLB.411427.49
...                  ...
5833218    TcYC6_0015220
5833219    TcYC6_0015230
5833220    TcYC6_0015240
5833221    TcYC6_0002960
5833222    TcYC6_0026060

[5833223 rows x 1 columns]

In [10]:
file_protein = "uniprotkb_taxonomy_id_5693_2025_03_09/uniprotkb_taxonomy_id_5693_2025_03_09.tsv"
df_protein = pd.read_csv(file_protein, sep='\t')

In [74]:
df_protein

,Entry,Entry Name,Protein names,Gene Names,Gene Names (ORF)
0,A0A2V2UXT2,A0A2V2UXT2_TRYCR,Serine/threonine-protein kinase TOR (EC 2.7.11.1),C4B63_63g101,C4B63_63g101
1,A0A7J6YCG0,A0A7J6YCG0_TRYCR,non-specific serine/threonine protein kinase (...,ECC02_002623,ECC02_002623
2,K2N059,K2N059_TRYCR,Serine/threonine-protein kinase TOR (EC 2.7.11.1),MOQ_003435,MOQ_003435
3,P25779,CYSP_TRYCR,Cruzipain (EC 3.4.22.51) (Cruzaine) (Major cys...,NaN,NaN
4,P28593,TYTR_TRYCR,Trypanothione reductase (TR) (EC 1.8.1.12) (N(...,TPR,NaN
...,...,...,...,...,...
91857,V5JG80,V5JG80_TRYCR,Heat-shock protein 70,hsp70,NaN
91858,V9GZE2,V9GZE2_TRYCR,Gag protein,gag,NaN
91859,V9GZG6,V9GZG6_TRYCR,Reverse transcriptase endonuclease,NaN,NaN
91860,W0IBC9,W0IBC9_TRYCR,Vacuolar transporter chaperone 4,Vtc4a,NaN
91861,W0IC88,W0IC88_TRYCR,Vacuolar transporter chaperone 4,Vtc4b,NaN

In [66]:
# Carga el archivo TSV
file_protein = "uniprotkb_taxonomy_id_5693_2025_03_09/uniprotkb_taxonomy_id_5693_2025_03_09.tsv"
df_protein = pd.read_csv(file_protein, sep='\t')

# Nombre que quieres buscar
nombre_buscado = "ECC02_000001"

# Filtrar el DataFrame por la columna "Gene Names (ORF)"
resultado = df_protein[df_protein["Gene Names (ORF)"] == nombre_buscado][["Entry", "Gene Names (ORF)"]]

# Imprimir el resultado si se encuentra
if not resultado.empty:
    print(resultado)
else:
    print(f"No se encontró {nombre_buscado} en la columna 'Gene Names (ORF)'.")

            Entry Gene Names (ORF)
55138  A0A7J6YJP9     ECC02_000001

In [13]:
# Archivos de entrada
output_file = "TriTryDB/genes_extraidos_TriTrypDB_AnnotatedProteins.tsv"
file_protein = "uniprotkb_taxonomy_id_5693_2025_03_09/uniprotkb_taxonomy_id_5693_2025_03_09.tsv"

# Cargar los genes extraídos
df_genes = pd.read_csv(output_file, sep="\t")

# Cargar el archivo de proteínas
df_protein = pd.read_csv(file_protein, sep="\t")

# Filtrar solo las filas donde "Gene Names (ORF)" coincida con los genes extraídos
df_filtrado = df_protein[df_protein["Gene Names (ORF)"].isin(df_genes["Gene_Names_ORF"])][["Entry", "Gene Names (ORF)"]]

# Guardar en un nuevo archivo .tsv
filtered_output = "TriTryDB/genes_filtrados_TriTrypDB_uniprotkb.tsv"
df_filtrado.to_csv(filtered_output, sep="\t", index=False)

In [14]:
df_filtrado

            Entry Gene Names (ORF)
0      A0A2V2UXT2     C4B63_63g101
1      A0A7J6YCG0     ECC02_002623
16         V5B8A9       TCDM_08153
18     A0A2V2UKP6     C4B63_196g48
19     A0A2V2UP24     C4B63_196g36
...           ...              ...
91849      V5DUU2       TCDM_00229
91850      V5DUU9       TCDM_00235
91851      V5DUV4       TCDM_00241
91852      V5DUV8       TCDM_00246
91853      V5DUW8       TCDM_14171

[55486 rows x 2 columns]

In [15]:
# Archivo de entrada
filtered_output = "TriTryDB/genes_filtrados_TriTrypDB_uniprotkb.tsv"

# Cargar el archivo filtrado
df_filtrado = pd.read_csv(filtered_output, sep="\t")

# Modificar la columna "Entry" agregando "_TRYCC" al final
df_filtrado["Protein_ID"] = df_filtrado["Entry"] + "_TRYCC"

# Agregar la nueva columna "Taxon_ID" con el valor 353153
df_filtrado["Taxon_ID"] = 353153

# Seleccionar solo las columnas necesarias
df_final = df_filtrado[["Protein_ID", "Taxon_ID"]]

# Guardar en un nuevo archivo .tsv
output_file = "Combined_Proteins_DB/combined_Proteins_TriTrypDB.tsv"
df_final.to_csv(output_file, sep="\t", index=False)

In [16]:
df_final

             Protein_ID  Taxon_ID
0      A0A2V2UXT2_TRYCC    353153
1      A0A7J6YCG0_TRYCC    353153
2          V5B8A9_TRYCC    353153
3      A0A2V2UKP6_TRYCC    353153
4      A0A2V2UP24_TRYCC    353153
...                 ...       ...
55481      V5DUU2_TRYCC    353153
55482      V5DUU9_TRYCC    353153
55483      V5DUV4_TRYCC    353153
55484      V5DUV8_TRYCC    353153
55485      V5DUW8_TRYCC    353153

[55486 rows x 2 columns]

In [19]:
# Cargar el primer archivo (contiene Protein_ID)
file1 = "Combined_Proteins_DB/combined_Proteins_TriTrypDB.tsv"
df1 = pd.read_csv(file1, sep="\t")

# Cargar el segundo archivo (contiene preferred_name)
file2 = "string_data/353153.protein.info.v12.0.txt"
df2 = pd.read_csv(file2, sep="\t")

# Verificar si la columna existe en ambos archivos
if "Protein_ID" in df1.columns and "preferred_name" in df2.columns:
    # Filtrar los valores de Protein_ID que están en preferred_name
    coincidencias = df1[df1["Protein_ID"].isin(df2["preferred_name"])]

    # Imprimir coincidencias encontradas
    if not coincidencias.empty:
        print("Se encontraron coincidencias:")
        print(coincidencias)
    else:
        print("No se encontraron coincidencias.")
else:
    print("Error: La columna 'Protein_ID' o 'preferred_name' no existe en los archivos.")

No se encontraron coincidencias.